.unity-button2 {
    background-image: resource('UISprite');
    -unity-slice-left: 16;
    -unity-slice-top: 16;
    -unity-slice-right: 16;
    -unity-slice-bottom: 16;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(77, 77, 77, 255);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
