.unity-button {
    color: rgb(255, 255, 255);
    background-image: resource('UISprite');
    -unity-slice-left: 16;
    -unity-slice-top: 16;
    -unity-slice-right: 16;
    -unity-slice-bottom: 16;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgb(93, 93, 93);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: auto;
    height: 50%;
}

.unity-button:hover {
    background-color: rgba(0, 0, 0, 0);
    -unity-background-image-tint-color: rgb(103, 103, 103);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.unity-button:active {
    background-color: rgba(0, 0, 0, 0);
    -unity-background-image-tint-color: rgb(53, 53, 53);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.MenuContainer {
    width: 40%;
    justify-content: center;
    align-items: stretch;
}

.undecorated {
    -unity-background-image-tint-color: rgba(255, 255, 255, 0);
    font-size: 200%;
    -unity-font: resource('Fonts & Materials/LiberationSans');
}

.undecorated:hover {
    -unity-background-image-tint-color: rgba(255, 255, 255, 0);
    -unity-font-style: bold;
}

.undecorated:active {
    -unity-background-image-tint-color: rgba(255, 255, 255, 0);
    -unity-font-style: bold;
    font-size: 180%;
}

.page-button {
    height: 100%;
    width: 20%;
    position: absolute;
    -unity-background-image-tint-color: rgba(255, 255, 255, 0);
    font-size: 700%;
}

.page-button:active {
    font-size: 650%;
}
